<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <ul>
    <li>Curso: {{ curso }} </li>
    <li>Profesor: {{ profesor }}  </li>
    <li>Novia: {{ novia }}</li>
  </ul>
